/**
  * @name experiment
*/

@import url('https://jlawaddell.github.io/experiment/experiment.theme.css');

:root {
  --rosynight-app-bg: #0000;
  --rosynight-bg: #0000;
  --rosynight-bg2: #212121;
  --rosynight-main: #fc8686;
  --rosynight-main2: #f3aeae;
  --rosynight-message-color: #f3aeae;
  --watermark-filter-invert: 78%;
  --watermark-filter-sepia: 46%;
  --watermark-filter-saturate: 536%;
  --watermark-filter-hue-rotate: 310deg;
  --watermark-filter-brightness: 150%;
  --watermark-filter-contrast: 88%;  
}
